
@{
    ViewBag.Title = "Kredi";
    Layout = "~/Views/Shared/_Kullanici_Layout.cshtml";
}

<h2>Kredi</h2>
<head>
    <title>Müşteri Kayıp Veri Kümesi Sınıflandırma</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h2>Müşteri Kredi Alabilir mi?</h2>
                        <div class="form-group">
                            <label for="img">Kredi Miktari</label>
                            <input class="form-control" id="data_1" placeholder="Kredi Miktari" name="data_1">
                        </div>
                        <div class="form-group">
                            <label for="img">Yaş</label>
                            <input class="form-control" id="data_2" placeholder="Yaş" name="data_2">
                        </div>
                        <div class="form-group">
                            <label for="img">Ev Durumu</label>
                            <select class="form-control" id="data_3" placeholder="Ev Durumu" name="data_3">
                                <option value="0">Kiracı</option>
                                <option value="1">Ev Sahibi</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="img">Aldığı Kredi Sayısı</label>
                            <input class="form-control" id="data_4" placeholder="Aldığı Kredi Sayısı" name="data_4">
                        </div>
                        <div class="form-group">
                            <label for="img">Telefon Durumu</label>
                            <select class="form-control" id="data_5" placeholder="Telefon Durumu" name="data_5">
                                <option value="0">Yok</option>
                                <option value="1">Var</option>
                            </select>
                        </div>

                        <button type="submit" id="predict-button" class="btn btn-primary">Submit</button>
                        <p>Kredi Durumu : <span id="prediction"></span></p>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $("#predict-button").click(function () {
            let message = {
                data_1: $("#data_1").val(),
                data_2: $("#data_2").val(),
                data_3: $("#data_3").val(),
                data_4: $("#data_4").val(),
                data_5: $("#data_5").val()
            }
            console.log(message);
            $.post("http://127.0.0.1:5000/predict", JSON.stringify(message), function (response) {
                if (response.prediction == 1.0) {
                    $("#prediction").text("Kredi Alabilirsiniz")
                }
                else {
                    $("#prediction").text("Kredi Alamazsınız")
                }

            });
        });
    </script>
    </body>
